@font-face {
  font-family: "IosevkaTermNF";
  src: url("./IosevkaTermNF-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IosevkaTermNF";
  src: url("./IosevkaTermNF-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --cp-font-family: "IosevkaTermNF";
}
